@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
/* Palheta de cores */

/* ***** */
/* BASE */
/* ***** */
/* código que define layout, espaçamento e alinhamento do website*/

:root {
  --primaria: #dae5f4;
  --secundaria: #304d75;
  --tom-1: #96acca;
  --tom-2: #596575;
  --tom-3: #122a4b;
  --tom-4: #041833;

  background-color: white;
}




.procedimentos {


.titulo-procedimentos{
  background-color: var(--tom-4);
  width: 472px;
height: 75px;

margin-top: 80px;


}



& h1 {
  color: #FFF;

/* Titulo */
font-family: Exo;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.92px;

 

}



  .icone-dente {
    width: 40px;
    height: 40px;
    flex-shrink: 0;

    margin: 0 auto;
  }

  .cartão {
    width: 160px;
    height: 258px;

    border-radius: 8px;

    background-color: var(--primaria);

    & h1 {
      color: rgba(255, 255, 255, 0.7);

      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgba(0, 0, 0, 0.2);
      font-family: Exo;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -1.28px;

    }

    & p {
      width: 117px;
      height: 110px;
      flex-shrink: 0;

      color: #304d75;
      margin: 0;
      text-align: center;
      /* Corpo XS */
      font-family: "Source Serif Pro";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 16px */
      letter-spacing: -1.28px;
    }
  }


}

.decoration-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -100;
}

& .card {
  width: 270px;
  display: flex;
  justify-content: center;
  background-color: var(--tom-1);

  text-align: left;

  margin-left: 64px;

  border-style: solid;
  background-color: var(--tom-1);
  border-image-source: linear-gradient(
    30deg,
    var(--tom-1) 60%,
    var(--tom-3) 100%
  );
  border-image-slice: 1;
  z-index: 1;
  position: absolute;
  margin-top: 532px;
}

.Titulo-Hero {
  color: color-mix(in srgb, var(--secundaria) 100%, black 20%);

  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  font-family: Exo;
  font-size: 24px;
  font-weight: 700;
  line-height: 108%; /* 25.92px */
  letter-spacing: -1.92px;
}

.decoration-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -100;
}

.Logo {
  width: 98px;
  height: 73px;
  border: 1px solid var(--Tom-4, #041833);
  margin: 32px;
}

img {
  width: 328px;
  height: 439px;
  flex-shrink: 0;
}


/* ******* */
/* MASCARA */
/* ******* */

div[role="mask"] {
  width: 316px;
  height: 357px;
  flex-shrink: 0;
  border-radius: 8px;
  display: flex;
  justify-content: 0;

  overflow: hidden;

  filter: drop-shadow(0px 24px 34px rgba(0, 0, 0, 0.25));
}



.Jonas {
  width: 270px;

  display: flex;
  justify-content: center;
  background-color: var(--tom-1);

  text-align: left;

  margin-left: 64px;

  border-style: solid;
  background-color: var(--tom-1);
  border-image-source: linear-gradient(
    30deg,
    var(--tom-1) 60%,
    var(--tom-3) 100%
  );
  border-image-slice: 1;
  z-index: 1;
  position: absolute;
  margin-top: 400px;
}

.honda {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente (se tiver altura) */
  height: 300px;           /* Exemplo de altura */
}

.hondinha {
  display: flex;
  gap: 10px;              
  
}

/* ********** */
/* COMPONENTES*/
/* ********** */
/* código que será reutilizado em todo o website */

/*Título*/

/* seção */
section {
  width: 100%;

  /* Smallest View Heigth */
  height: 100svh;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* PARÁGRAFO*/

p {
  font-size: 16px;
  font-family: "Source Serif 4";
  opacity: 0.65;

  &.text-sn {
    font-size: 16px;
  }
}

/* Titulo barbearia vanguarda estilizado */
h1 {
  color: var(--cor-secundaria, #304d75);

  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  font-family: Exo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 108%; /* 25.92px */
  letter-spacing: -1.92px;
}

/* seção */

/* Botão */
[role="button"],
button {
  width: fit-content;
  display: inline-flex;
  padding: 7px 29px;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;

  /* Estilo*/
  border-radius: 8px;
  background: color-mix(in srgb, var(--tom-2) 100%, white 20%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  /* Tipografia*/
  color: var(--Cor-3, #664e38);
  font-family: Exo;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.28px;
  text-decoration: none;

  -webkit-tap-highlight-color: transparent; /* Removes tap highligth on color*/
  transition: all 150ms;

  &:hover {
    background: color-mix(in srgb, var(--tom-2) 100%, black 20%);
    color: (var(--tom-1));
  }

  &:active {
    background: color-mix(in srgb, var(--tom-2) 100%, white 40%);
  }
}

.bolinhas {
  width: 300px;
  height: 300px;

  background-color: var(--tom-3);
  mask: url(public/bolinhas.svg) no-repeat center;
  mask-size: 100%;

  &.fileira {
    mask: url(public/fileira-de-bolinhas.svg) no-repeat center;
    mask-size: 100%;
  }
}

.whatsapp-icon {
  width: 24px;
  height: 24px;

  background-color: currentColor;
  mask: url(public/whatsapp.svg) no-repeat center;
  mask-size: 100%;
}

& .map {
  width: fit-content;
  background-color: var(--secundaria);
  border-radius: 8px;

  border: 4px SOLID var(--secundaria);
  overflow: hidden;

  & .map-mask {
    width: 272px;
    height: 156px;
    flex-shrink: 0;

    overflow: hidden;

    & img {
      width: 100%;
    }
  }

  & address {
    padding: 8px;
  }

  & h2 {
    margin: 0;
    color: #fff;

    font-family: Exo;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 108%; /* 21.6px */
    letter-spacing: -1.6px;
  }

  & h3 {
    margin: 0;
    color: #fff;

    font-family: Exo;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 108%; /* 12.96px */
    letter-spacing: -0.96px;
  }
}
footer {
  color: white;

  & [role="logo"] {
    width: 32px;
    height: 32px;
    background-color: white;
  }

  & div:has(nav) {
    background-color: var(--tom-3);
    padding: 16px 32px;
  }

  & div:has(p) {
    background-color: color-mix(in srgb, var(--tom-3) 100%, black 40%);
    padding: 12px 0;
  }

  & p,
  a {
    color: #fff;
    font-family: Exo;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 8px */
    margin: 0;
    opacity: 1;
    text-decoration: none;
    transition: all 150ms;
  }
  & a:hover {
    color: var(--tom-1);
  }
}

dialog {
  color: #fff;
  font-family: Exo;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  max-width: 100%;
  max-height: 100%;

  border: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;

  opacity: 0;
  transition: all 300ms allow-discrete;

  &[open] {
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }

  & [role="logo"] {
    width: 96px;
    height: 96px;
    background-color: white;
  }
  & a,
  svg {
    color: white;
    text-decoration: none;
  }

  & nav {
    text-align: right;
  }
}
nav.main {
  width: 100%;
  padding: 24px 32px;
  position: fixed;
  top: 0;
  z-index: 100;

  mix-blend-mode: difference;

  transition: margin-top 1s;

  & [role="logo"] {
    width: 48px;
    height: 48px;
    background-color: white;
  }

  & svg {
    color: white;
  }
}
dialog[open] + nav.main {
  margin-top: -96px;
}

/* Swiper Container */
swiper-container {
  width: 100%;
  height: 100%;
}

/* *********** */
/* utilitarios */
/* *********** */

.translate-y-center {
  translate: 0 -50%;
  top: 50%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-4 {
  gap: 16px;
}

.gap-8 {
  gap: 32px;
}
